
div.form-row {
  margin-bottom: 5px;
}

input.result-submit-btn {
  background-color: #006dcc !important;
  cursor: pointer !important;
  background-image: linear-gradient(to bottom, #08c, #04c) !important;
  background-repeat: repeat-x !important;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25) !important;
  color: #fff !important;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25) !important;
}

.loader {
	display:none;
	margin-left: 10px;
	background: none !important;
	padding: 0px !important;
	border: 0px !important;
	box-shadow: none !important;
}

div.result-container {
	margin-top: 10px !important;
}

table.student-info {
	width: 100% !important;
	border: 1px solid #ddd;
}

table.student-info td {
	padding: 5px !important;
	border: 1px solid #ddd;
	width: 50% !important;
}